# Node modules
node_modules/

# Build output
build/
dist/

test.tsx
test.tsx*
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# TypeScript cache
*.tsbuildinfo

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.log

